@import "https://www.w3schools.com/w3css/4/w3.css";

body {
    font-size: 22px;
}
#logged-as{
    font-size: 22px;
}
#login{
    font-size: 34px;
}
#title{
    font-size: 28px;
}
.transaction-table{
    margin-right: 10%;
    margin-left: 10%;
}
